{% set action = row.id ? path_for('api.address', {'id':row.id}) : path_for('api.address') %}
{% set method = row.id ? 'put' : 'post' %}

<form action="{{ action|raw }}" method="{{ (delete ? 'delete' : method)|raw }}" class="vc-error-none">
  {% if delete %}
    <p class="text-center">Deseja deletar esse registro? Essa ação é irreversível.</p>
  {% else %}
    {% if type and person %}
      <input type="hidden" name="{{ type == 'fisica' ? 'user_id' : 'user_id_legal' }}" id="person" value="{{ person|raw }}">
    {% endif %}
    
    {# Dados #}
    <div class="form-group">
      <label for="name" class="control-label">Nome <sub class="text-danger">*</sub></label>
      <input type="text" name="name" id="name" class="form-control" value="{{ row.name|raw }}" required>
    </div>
    
    <div class="row">
      <div class="form-group col-md-3">
        <label for="zipcode">Cep <sub class="text-danger">*</sub></label>
        <input data-cep type="text" name="zipcode" id="zipcode" class="form-control maskCep" value="{{ row.zipcode|raw }}" required>
      </div>
      
      <div class="form-group col-md-7">
        <label for="cep-logradouro">Rua <sub class="text-danger">*</sub></label>
        <input type="text" name="street" id="cep-logradouro" class="form-control" value="{{ row.street|raw }}" disabled>
      </div>
      
      <div class="form-group col-md-2">
        <label for="cep-number">Número</label>
        <input type="text" name="number" id="cep-number" class="form-control" value="{{ row.number|raw }}" required>
      </div>
    </div>
    
    <div class="row">
      <div class="form-group col-md-5">
        <label for="cep-bairro">Bairro <sub class="text-danger">*</sub></label>
        <input type="text" name="district" id="cep-bairro" class="form-control" value="{{ row.district|raw }}" disabled>
      </div>
      
      <div class="form-group col-md-4">
        <label for="cep-localidade">Cidade <sub class="text-danger">*</sub></label>
        <input type="text" name="city" id="cep-localidade" class="form-control" value="{{ row.city|raw }}" disabled>
      </div>
      
      <div class="form-group col-md-3">
        <label for="cep-uf">Estado <sub class="text-danger">*</sub></label>
        <input type="text" name="state" id="cep-uf" class="form-control" value="{{ row.state|raw }}" disabled>
      </div>
    </div>
    
    <div class="form-group">
      <label for="cep-complemento">Complemento</label>
      <input type="text" name="complement" id="cep-complemento" class="form-control" value="{{ row.complement|raw }}">
    </div>
  {% endif %}
  
  <div id="vc-message"></div>
  
  <div class="modal-footer">
    <button class="btn btn-secondary" data-dismiss="modal" type="button">Fechar</button>
    <button
      vc-form
      vc-loadding="Aguarde..."
      class="btn btn-primary"
    >{{ (delete ? 'Deletar' : (row.id ? 'Atualizar' : 'Adicionar')) }}</button>
  </div>
</form>
